.news_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 4% ;
}
.newsSingle_wrapper{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}