@import '../../../variables';
.classification_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    .profs{
        width: 100%;
    }
    .alphabet {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        span {
            width: fit-content;
            cursor: pointer;
            &:hover{
                color: $primary-color-blue;
            }
        }
    }
    .show{
        position: fixed;
        display: block !important;
        top: 45dvh;
        left: 80dvw;
    }
    .scrollToTopBtn{
        display: none;
    }
}