@import '../../../variables';
.classification_wrapper {
    display: flex;

    .alphabet {
        width: 5vw;
        align-items: center;
        gap: 10px;

        span {
            width: fit-content;
            cursor: pointer;
            &:hover{
                color: $primary-color-blue;
            }
        }
    }
}