@import '../../variables';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register_wrapper {
    padding: 20px;

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        .MuiFormControl-root {
            width: 80%;
        }
    }

    .register_submit_wrapper {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            background-color: $primary-color-blue;
            color: $primary-color-gray;
            padding: 10px 15px;
            border: none;
            font-size: 1.3rem;
            border-radius: 15px;

            a {
                color: $primary-color-gray;
            }

            &:disabled {
                background-color: $primary-color-gray;
                color: $primary-color-blue;
            }
        }
    }
}

.verify_wrapper {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    h1{
        width: 100%;
        text-align: center;
        font-family: 'Mtavruli';
    }
    .code{
        width: 100%;
        display: flex;justify-content: space-between;
    }
    .time{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        button{
            background-color: $primary-color-blue;
            color: $primary-color-gray;
            border-radius: 8px;
            border: none;
        }
    }
    .next{
        margin-top: 20%;
        width: 100%;
        text-align: end;
        button{
            background-color: $primary-color-blue;
            border-radius: 8px;
            border: none;
            a{
                color: $primary-color-gray;
                padding: 5px 10px;
            }
        }
    }

}

@media screen and (max-width: 600px) {
    .register_submit_wrapper {
        flex-direction: column;
        gap: 20px;
    }
}