@import '../../variables';
.owl{
    width: 100%;
    margin-top: 50px;
    .swiper-slide{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}