.breadcrumbs_wrapper{
    width: 100%;
}
.accordion{
    a{
        text-decoration: underline !important;
        font-weight: bold;
        margin-left: 25px;
    }
}
.calendar_single_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    img{
        width: 90%;
    }
    p{
        width: 90%;
    }
}