@import '../../variables';
.active_tabs_wrapper {
    width: 100% ;
    header {
        background-color: $primary-color-gray !important;
        color: $primary-color-blue !important;
    }

    .Mui-selected {
        background-color: $primary-color-blue !important;
        color: white !important;

    }

    span {
        display: none !important;
    }
}
.tab_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}
@media screen and (max-width: 800px) {
    .tab_wrap{
        justify-content: center !important;
        gap: 25px;
    }
}