@import '../../variables';

.nav-box {
    aspect-ratio: 1/1;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: $primary-color-blue;
    border-radius: 10px;
    transition-duration: 0.3s;

    &:hover {
        filter: brightness(0.8);

        h3 {
            transform: scale(1.2);
            filter: brightness(0.8);

        }


    }

    h3 {
        color: $primary-color-gray;
        text-align: center;
        text-decoration: none;
        transition-duration: 300ms;
        font-size: 1.7rem;
    }

    a {
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 10;
        text-decoration: none;
    }
}

@media screen and (max-width: 1150px) {
    .nav-box {
        width: 33%;

    }
}

@media screen and (max-width : 500px) {
    .nav-box {
        width: 60%;

        &:hover {
            transform: scale(1);
        }
    }
}

@media screen and (max-width : 750px) {
    .nav-box {
        p {
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width : 400px) {
    .nav-box {
        p {
            font-size: 0.9rem;
        }
    }
}