.partner_card_link{
    width: 30%;
}

.partners_card {
    width: 100%;
    height: 200px;
    position: relative;
    background-color: gray;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;

    .thumb_img {
        border-radius: 10px 10px 0 0;
        height: 50%;
    }

    .info {
        position: relative;
        background-color: #ebedff;
        border-radius: 0 0 10px 10px;
        padding: 15px;
        padding-top: 40px;
        height: 50%;

        .info_img_wrapper {
            position: absolute;
            width: 70px;
            top: -35px;
            left: 15px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: top 0.3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

}

.partners_card:hover {
    .info_img_wrapper {
        top: -50px;
    }
}