.partners_card {
    width: 200px;
    position: relative;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    cursor: pointer;
    .thumb_img {
        border-radius: 10px 10px 0 0;
    }

    .info {
        position: relative;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        padding: 15px;
        padding-top: 40px;
        height: 50%;

        .info_img_wrapper {
            position: absolute;
            width: 70px;
            top: -35px;
            left: 15px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: top 0.3s ease-in-out;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }

    .info:hover {
        .info_img_wrapper {
            top: -50px;
        }
    }
}