@import '../../variables';

.vacancy_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #fff;
    padding: 15px;
}



.filter_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &>div {
        gap: 20px;
    }

    .vacancy_filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .quantity {
            width: fit-content !important;
            background-color: #5f7adb;
            border-radius: 15px;
            padding: 5px 10px;
            border: none;
            color: $primary-color-gray;
            height: fit-content;
        }

        p {
            width: 50%;
        }

        label {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .filter_bottom>div:first-child {
        justify-content: center;
    }

    .vacancy_filter {
        width: 60% !important;
    }
}

.vacancy_wrapper_a {
    width: 80%;
}

.vacancy {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border: 1px solid $primary-color-blue;
    border-radius: 15px;

    img {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
    }

    .one {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        width: 50%;
        gap: 10px;

        section {
            display: flex;
            gap: 20px;
            align-items: center;

            p {
                margin: 0 !important;
            }
        }
    }

    .two {
        height: 100%;
        width: 20%;
    }
}


.filter_upper {
    border-radius: 18px;
    background-color: #e8ecfc;
    border: none;
    width: 23%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 10px;
}

.vacancy_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .filter_upper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .img_of_filter {
                width: 20%;
            }

            .img_of_filter_inactive {
                display: block;
            }

            .img_of_filter_active {
                display: none;
            }

            .left_side {
                display: flex;
                flex-direction: column;
                width: 50%;
                row-gap: 15px;

                img {
                    width: 50px;
                }

                img:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .active {
        border: none;
        background-color: #0974ed;
        color: white;

        .img_of_filter_inactive {
            display: none !important;
        }

        .img_of_filter_active {
            display: block !important;
        }

        .left_side {

            img:nth-child(2) {
                display: block !important;
            }

            img:nth-child(1) {
                display: none;
            }
        }
    }
}

.vacancy_filter {
    border-radius: 18px;
    background-color: #fff;
    border: 1px solid $primary-color-gray;
    width: 23%;
    height: 150px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    h6 {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    h6::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        display: none;
    }
}

.filter_bottom {
    .active {
        background-color: #0974ed;
        color: white;

        h6::after {
            display: block;
        }
    }
}

.vac_con {
    padding-top: 25px;
    padding-left: 25px;
}

.vacancy_single_wrapper {
    display: flex;
    padding: 20px;

    .vacancy_single_left {
        width: 40%;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .company_info {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            gap: 20px;

            img {
                width: 60%;
            }

            h3 {
                width: 80%;
                color: $primary-color-blue;
            }
        }

        .accountant_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $primary-color-blue;
            color: white;
            padding: 20px 25px;
            width: 80%;
            border-radius: 15px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            gap: 20px;


            div {
                display: flex;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;

                img,
                i {
                    color: white;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                }

                p {
                    width: 79%;
                    margin-bottom: 0 !important;
                    word-wrap: break-word;
                }
            }
        }

        .interested_btn {
            width: 40%;
            background-color: orange;
            border-radius: 5px;
            color: $primary-color-gray;
            padding: 10px 15px;
            border: none;
        }
    }

    .vacancy_single_right {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-self: center;

        h4 {
            color: $primary-color-blue;
        }

        .vacancy {
            i {
                margin-right: 15px;
                height: 50%;
            }
        }

        .description {
            .container {
                padding: 50px;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .vacancy_filter {
        div {
            flex-direction: column;

            p {
                text-align: center;
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .accountant_info {
        div {
            flex-direction: column !important;

            p {
                width: 95% !important;
                word-wrap: break-word !important;
                height: fit-content;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .accountant_info {
        div {
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            gap: 10px;
        }
    }

    .vacancy_filter {
        width: 45% !important;
    }



    .vacancy {
        h2 {
            font-size: 1.2rem;
        }
    }

    .vacancy_container {
        div {
            width: 100%;
            row-gap: 25px;
        }
    }

    .vacancy_single_wrapper {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .vacancy_single_left {
            width: 70%;
            align-items: center;
            padding: 0;

            .infos {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;

                .company_info {
                    width: 90%;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        text-align: center;
                    }
                }

                button {
                    width: 50%;
                }

                .accountant_info {
                    width: 90%;

                    p {
                        p {
                            word-break: break-all;
                        }
                    }
                }
            }

            button {
                width: 10%;
            }
        }

        .vacancy_single_right {
            width: 90%;

            .vacancy {
                flex-direction: column;
                height: auto;

                .two {
                    width: 80% !important;
                    display: block !important;
                }
            }

            h4 {
                text-align: center;
            }

            .description {
                .container {
                    width: 95% !important;
                }
            }
        }

    }

    .industryTxt {
        display: none !important;
    }
}

@media screen and (max-width:700px) {
    .vacancy {
        padding: 20px !important;

        .two {
            display: none;
        }

        .one {
            .sal {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .vacancy_single_left {
        width: 100% !important;
    }

    .vacancy_single_right {
        width: 100% !important;

        .description {
            width: 100% !important;

            .container {
                width: 100% !important;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .filter_upper {
        width: 70% !important;
    }

    .vacancy_container {
        div {
            justify-content: center !important;
            align-items: center !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .filter_upper {
        width: 70% !important;
    }

    .vacancy_filter {
        width: 70% !important;
    }

    .vacancy {
        img {
            display: none;
        }

        .one {
            width: 100%;

            h2 {
                text-align: center;
            }

            section {
                flex-direction: column;
            }
        }

        .industryTxt {
            display: block !important;
        }
    }

    .interested_btn {
        width: 80% !important;
    }
}

@media screen and (max-width: 400px) {
    .filter_upper {
        flex-direction: column;

        .left_side {
            flex-direction: unset !important;
        }
    }

    .vacancy_filter {
        p {
            font-size: 0.8rem;
        }
    }

    .vacancy_single_wrapper {
        padding: 0 !important;
    }

    .vac_con {
        padding: 0 !important;
    }
}


.companyInfo.container {
    box-shadow: none !important;
    // .row>* {
    //     // padding-left: 0 !important;
    //     // padding-right: 0 !important;

    // }
    // .row {
    //     img {
    //         width: 100%;
    //         padding: 1rem;
    //         border-radius: .5rem;
    //         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    //     }
    //     .company-info {
    //         height: 100%;
    //         div {
    //             padding: 1rem !important;
    //             box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    //             border-radius: .5rem;
    //         }
    //     }
    // }
    .parent-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        h1,
        h2 {
            color: #5f7adb;
            font-weight: 800;
        }

        h3 {
            border: 0;
            display: inline-block;
            padding: 10px;
            margin: 7px;
            color: #ffffff;
            background-color: #0f49aa;
            border-radius: 8px;
            font-family: "proxima-nova-soft", sans-serif;
            font-weight: 600;
            text-decoration: none;
            margin-left: 550px;
    
            /* Align the internal text to the right */
            text-align: right;
        }



        .company-photo {
            grid-area: 1 / 1 / 2 / 2;

            img {
                width: 100%;
                padding: 1rem;
                border-radius: .5rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .company-info {
            grid-area: 1 / 2 / 2 / 4;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: .5rem;
            padding: 1rem;

            div {
                padding: 2rem;
                background-color: rgb(243, 243, 243);
                height: 100%;
                border-radius: .5rem;

            }
        }

        .description {
            grid-area: 2 / 1 / 4 / 4;
            margin-bottom: 20px;
        }
    }
}