@import '../../variables';

.vacancy_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


@media screen and (max-width: 800px) {
    .filter_upper {
        width: 45% !important;
    }
}
@media screen and (max-width: 500px) {
    .filter_upper {
        font-size: 0.7rem;
    }
}

.filter_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    &>div{
        gap: 20px;
    }

    .vacancy_filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .quantity {
            width: fit-content !important;
            background-color: #5f7adb;
            border-radius: 15px;
            padding: 5px 10px;
            border: none;
            color: $primary-color-gray;
        }

        p {
            width: 50%;
        }

        label {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .filter_bottom>div:first-child {
        justify-content: center;
    }

    .vacancy_filter {
        width: 60% !important;
    }
}

.vacancy {
    width: 80%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border: 1px solid $primary-color-blue;

    img {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
    }

    .one {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        width: 50%;
        gap: 10px;

        section {
            display: flex;
            gap: 20px;
            align-items: center;

            p {
                margin: 0 !important;
            }
        }
    }

    .two {
        height: 100%;
        width: 20%;

        p {
            width: 100%;
            text-align: center;
            background-color: $primary-color-blue;
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

@media screen and (max-width:700px) {
    .vacancy {
        padding: 20px !important;

        .two {
            display: none;
        }

        .one {
            .sal {
                display: none;
            }
        }
    }
}

.filter_upper {
    border-radius: 18px;
    background-color: #fff;
    border: 1px solid $primary-color-gray;
    width: 23%;
    height: 100px;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    &::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        display: none;
    }
}

.vacancy_container {
    .active {
        border: 1px solid green;
        background-color: lightgreen;
        color: black;

        &::after {
            display: block;
        }
    }
}

.vacancy_filter {
    border-radius: 18px;
    background-color: #fff;
    border: 1px solid $primary-color-gray;
    width: 23%;
    height: 100px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    h6{
        display: flex;
        width: 100%;
        justify-content: center;
        gap:10px;
    }
    h6::after {
        content: '\f00c';
        font-family: 'FontAwesome';
        display: none;
    }
}
.filter_bottom {
    .active {
        border: 1px solid green;
        background-color: lightgreen;
        color: black;

        h6::after {
            display: block;
        }
    }
}