@import '../../variables';

.vacancy_wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.filter_main {
    width: 23%;
    aspect-ratio: 1/0.5;
    background-color: $primary-color-blue;
    display: flex;
    justify-content: center;

    label {
        display: flex;
        justify-content: center;

        span {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            word-wrap: break-word;
        }

        color: $primary-color-gray;
    }
}

@media screen and (max-width: 600px) {
    .filter_main {
        width: 45% !important;

    }
}

.filter_bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px 15px;
    flex-wrap: wrap;

    .vacancy_filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 5%;
        width: 40%;
        background-color: $primary-color-gray;
        padding: 10px;

        .quantity {
            width: fit-content !important;
            background-color: #5f7adb;
            border-radius: 15px;
            padding: 5px 10px;
            border: none;
            color: $primary-color-gray;
        }

        p {
            width: 50%;
        }

        label {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .filter_bottom>div:first-child {
        justify-content: center;
    }

    .vacancy_filter {
        width: 60% !important;
    }
}

.vacancy {
    width: 80%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border: 1px solid $primary-color-blue;

    img {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
    }

    .one {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        width: 50%;
        gap: 10px;

        section {
            display: flex;
            gap: 20px;
            align-items: center;

            p {
                margin: 0 !important;
            }
        }
    }

    .two {
        height: 100%;
        width: 20%;

        p {
            width: 100%;
            text-align: center;
            background-color: $primary-color-blue;
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

@media screen and (max-width:700px) {
    .vacancy {
        padding: 20px !important;
        .two {
            display: none;
        }

        .one {
            .sal {
                display: none;
            }
        }
    }
}