@import '../../../variables';

.worker_wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .worker_card {
        display: flex;
        justify-content: space-between;
        height: 170px;

        div {
            height: fit-content;
            word-break: break-all;
        }

        h6 {
            color: $primary-color-blue;
        }

        .img_wrap {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: flex-start;

            img {
                width: 100%;
            }
        }

        .info {
            width: 80%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            .container {
                padding: 20px;
                background-color: $primary-color-gray;
                color: $primary-color-blue;

                i {
                    margin-right: 20px;
                }
            }
        }
    }

    .detailed_info {
        display: flex;
        justify-content: center;

        .accordion {
            width: 50%;
        }
    }
}

@media screen and (max-width: 1200px) {

    .worker_card {
        .info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 1000px) {
    .worker_card {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        height: auto !important;

        .img_wrap {
            width: 100% !important;
            justify-content: center;

            img {
                width: 40% !important;
            }
        }

        .info {
            h6 {
                font-size: 1.3rem;
            }
        }

    }

    .detailed_info {
        flex-direction: column;
        align-items: center;

        .accordion {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .worker_card {
        .img_wrap {
            width: 100% !important;
            justify-content: center;

            img {
                width: 70% !important;
            }
        }
    }
}