@import '../../variables';

footer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .upper_footer {
        display: flex;
        justify-content: space-between;
        background-color: #00235B;
        padding: 50px;
        .brand{
            padding-left: 50px;
        }
        .links {
            h3 {
                color: #EEEDED;
            }

            a {
                color: #EEEDED;
            }

            ul {
                margin: 0 !important;
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    a {
                        padding-left: 5px;
                    }
                }

                li::marker {
                    font-family: 'FontAwesome', sans-serif;
                    content: "\f054";
                    color: #EEEDED;
                    padding: 5px;
                }
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h3 {
                color: #EEEDED;
            }

            p {
                color: #EEEDED;
            }
        }
    }

    .bottom_footer {
        padding: 10px 10px 0xp 10px;
        background-color: #0d1a3d;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 50px;
        width: 100%;

        .copy {
            text-transform: uppercase;
            color: $primary-color-gray;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .rights {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $primary-color-gray;
            height: 100%;
        }

        .socials {
            -webkit-column-gap: 50px;
            -moz-column-gap: 50px;
            column-gap: 50px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-wrap: wrap;
            height: 90%;

            div {
                height: 90%;
                background-color: rgb(21, 14, 83);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                gap: 20px;

                i {
                    color: $primary-color-gray;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .bottom_footer {
        width: 100%;
        display: flex;
        justify-content: center !important;
        flex-direction: column;
        align-items: center !important;
        padding: 20px 0px !important;
        height: auto !important;

        .socials {
            div {
                background-color: unset !important;
                justify-content: center !important;
                gap: 10px;
            }
        }

        div {
            width: 80%;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 650px) {
    .upper_footer {
        flex-direction: column;
        .brand{
            padding: 0 !important;
            display: flex;
            justify-content: center;
        }
        .links, .contact{
            display: flex;
            flex-direction: column;
            align-items: center !important;
            gap: 15px;
            h3{
                text-align: center;
            }
            ul{
                width: 100%;
                padding-left: 40px !important;
                li{
                    text-align: center;
                }
            }
        }
        div {
            padding: 50px;

            a {
                display: flex;
                justify-content: flex-start;

                div {
                    padding: 0 !important;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .brand{
        padding-left: 25px !important;
    }
}
@media screen and (max-width: 700px) {
    .brand{
        padding-left: 25px !important;
    }
}