@font-face {
    font-family: 'MTAVRULI';
    src: url('./assets//fonts/bpg_extrasquare_mtavruli_2009.ttf');
}

;

@font-face {
    font-family: "Noto Sans Georgian";
    src: url('./assets/fonts/NotoSansGeorgian-Medium.ttf');
}

;
$font-primary-ge: 'MTAVRULI';
$font-primary-en: 'Poppins';
$primary-color-blue: #00235B;
$primary-color-gray: #EEEDED;

:root {
    --font-primary-ge: $font-primary-ge;
    --font-primary-en: $font-primary-en;
}