@font-face {
    font-family: 'MTAVRULI';
    src: url('./assets/fonts/bpg_nino_mtavruli_bold.ttf');
}

;

@font-face {
    font-family: "Georgian Primary";
    src: url('./assets/fonts/FiraGO-Medium.ttf');
}

;
$font-primary-ge: 'MTAVRULI';
$font-primary-en: 'Poppins';
$primary-color-blue: #00235B;
$primary-color-gray: #EEEDED;

:root {
    --font-primary-ge: $font-primary-ge;
    --font-primary-en: $font-primary-en;
}