@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'MTAVRULI';
    src: url('./assets//fonts/bpg_extrasquare_mtavruli_2009.ttf');
};
@font-face {
    font-family: "Noto Sans Georgian";
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap');
};
$font-primary-ge: 'MTAVRULI';
$font-primary-en: 'Poppins';
$primary-color-blue: #00235B;
$primary-color-gray: #EEEDED;

:root{
    --font-primary-ge: $font-primary-ge;
    --font-primary-en: $font-primary-en;
}
